rules:
  - id: python-cors-reflect-origin
    languages: [python]
    message: >
      Possible CORS misconfiguration: dynamic Origin reflection.
    severity: WARNING
    metadata:
      category: security
      cwe: "CWE-942"
      owasp: "A05:2021-Security Misconfiguration"
    patterns:
      - pattern: |
          $RESP.headers["Access-Control-Allow-Origin"] = request.headers.get("Origin")